body {
  background-color: #284a45cc;
 
}

.skillheader, .workexperience {
  text-align: center;
  color:white;
  font-family: 'Ruda', sans-serif;
}

.contact{
  text-align: center;
  color: antiquewhite;
}
